:focus {outline:none;}
::-moz-focus-inner {border:0;}

html, body{
	margin:0;
	padding:0;
	height:100%;
	font-size:1em;
	font-family: Arial;
}

a{color:#8000ff;text-decoration:none;}
a:hover{text-decoration:underline;}

.alignc{text-align: center;}
.alignr{text-align: right;}
.pull-left{float: left;}
.pull-right{float: right;}
.contain{overflow: auto;}

.hide, .mobile{display:none;}

#header{
	position:fixed;
	z-index:10;
	top:0;
	width:100%;
	min-height:32px;
	padding-top:10px;
	background-color:#DFEEFC;
}
#header .items{
	text-transform:uppercase;
	font-weight:bold;
	font-family: arial;
	float:left;
}
#header .items span{
	cursor:pointer;
	margin:0 20px;
}

.mobile #menu.fa.fa-bars{
	float:left;
	margin-right:10px;
	margin-top:-15px;
	font-size:19px;
	padding:15px;
	cursor:pointer;
}

/*#home{
height:100%;
background-image:url('//dnadiscovery.net/img/4.jpg');
background-size: cover;
background-position: 49% 50%;
}*/
#home{
	height:100%;
	background-image:url('//dnadiscovery.net/img/blue.png');
	background-repeat:repeat repeat;
	background-size: cover;
	background-position: 49% 50%;
}
#pages .page{
	width:100%;
	position:relative;
	background-color:#fff;
}
#pages .page:nth-child(odd){
	background-color:#E9F7FF;
}
.content{
	width:95%;
	max-width:960px;
	padding:60px 0;
	margin:0 auto;
	position:relative;
}
.title, .subtitle{
	color:#30546b;
	font-size:1.5em;
	display:inline-block;
	margin:0 auto;
	margin-bottom:35px;
}
#tagline{
	font-size:1.8em;
	font-size:4vw;
	font-style:italic;
	margin:0 auto;
}
.title{
	padding-bottom:5px;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom:2px solid #30546b;
}
.company{
	font-size:60px;
	font-size:6.5vw;
	text-shadow: rgb(255, 255, 255) 0px 0px 1px, rgba(0, 0, 0, 0.45098) 0px 1px 2px;
}
.company, .title, .subtitle{
	font-family: 'gotham rounded',arial,sans-serif;
	text-transform:uppercase;
}
#motto{
	position:absolute;
	top:40%;
	left:0;
	right:0;
	width:70%;
	max-width:800px;
	margin:0 auto;
	text-align:center;
}

.answer{
	margin:20px 0;
	margin-left:30px;
}

#partner-logo, #bbb{
	text-align:center;
	margin-top:20px;
}
#partner-logo img{
	width:200px;
}
#chromosome{
	float:left;
	margin:0 40px 20px 0;
	width:100%;
	max-width:280px;
}

#mission{
	text-align:center;
	font-style:italic;
}

#payment-types{
	text-align:center;
	font-size:10pt;
	margin-top:-30px;
	margin-bottom:35px;
}

#contain-contact{
	float:left;
	width:100%;
	max-width:390px;
	font-size:21px;
	margin-top:20px;
}
#contain-contact h4{
	text-align:center;
	margin-bottom:15px;
}
#contact td, #hours td{
	padding:5px 10px;
	font-size:17px;
}
#contact td:nth-child(odd), #hours td:nth-child(odd){
	padding-left:0;
}

.youtube-wrap{
	margin-top:20px;
	text-align:center;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.youtube-wrap iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.price, .info{
	display: inline-block;
}
.price{
	float:left;
	margin-left: 10px;
}
.info{
	float:right;
	margin-right:10px;
}

.faq{
	margin: 5px 0;
	 padding:10px 0;
 }
.num{
	font-size:16pt;
	display:inline;
	vertical-align:middle;
	margin-right:10px;
}
.q{
	font-weight:bold;
	color:#547a8a;
	display:inline;
	vertical-align:middle;
	cursor:pointer;
}
.a{
	display:none;
	font-size:11pt;
	margin-top:6px;
}

#google-translate-ele{
	float:right;
	margin-right:20px;
}

#map{
	float:right;
	padding:0 10px;
}
#map, #map img{
	width:100%;
	max-width:399px;
}

.level1, .level2, .level3{
	font-family:Georgia;
	font-weight: bold;
	margin-top:20px;
}
.level1{
	font-size:15px;
	color: #333;
	text-shadow: 0 1px 0 #ddd;
}
.level2{
	font-size:13px;
	color: #547a8a;
}
.level3{
	font-size:12px;
	color: #555;
}

.q, .no-select{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#services{
	overflow: auto;
	font-family:arial;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.service{
	float:left;
	margin-right: 15px;
	margin-bottom: 15px;
	background-color:rgba(255, 255, 255, 0.5);
	height:155px;
	width:193px;
	padding:16px;
	border-radius: 16px;
}
.service.clickable:hover{
	background-color: rgba(255, 255, 255, 0.85);
	cursor: pointer;
}
.service .test{
	text-align: center;
	font-size: 1em;
}
.service .icon{
	font-size: 6em;
	text-align:center;
	display:block;
	margin:10px 0;
}
.service .composite-icon{
	height: 96px;
	margin: 10px 0;
	position:relative;
}
.service .composite-icon i{
	position:absolute;
}
.service .fa-info-circle{
	font-size:18pt;
	color:rgb(170, 170, 170);
	cursor:pointer;
}
.service .fa-info-circle:hover{
	color:rgb(150, 150, 150);
}

.popup{
	width:100%;
	height:100%;
	top:0;
	left:0;
	display:none;
	position:fixed;
	z-index:20;
	background-color:rgba(200,200,200,.4);
}
.popup .modal{
	width:360px;
	margin:auto;
	border-radius:6px;
	background-color:#fff;
	padding:25px 40px;
	position:relative;
}
.popup .modal #close-popup{
	cursor: pointer;
	margin-top:10px;
	font-size: .9em;
	color: #00f;
}
.popup .modal #service-name{
	font-size: 1.2em;
	font-weight:bold;
}
.popup .modal #service-data{
	margin-top: 8px;
	overflow:auto;
	max-height:230px;
}


@media(max-width: 960px){
	.desktop, .hide-mobile{
		display:none;
	}
	.mobile{
		display:block;
	}
	#header .items{
		float:none;
	}
	#header .items span{
		display:block;
		width:100%;
		text-align: center;
		padding:10px 0;
		margin:0;
	}
	#header .items span:hover{
		background-color: rgba(255,255,255,.3);
	}
	#map{
		float:none;
		margin:0 auto;
		padding:0;
	}
	#contain-contact{
		float:none;
		margin:0 auto;
	}
}
